@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --scrollbar-width: 8px;
  --scrollbar-track: transparent;
  --scrollbar-thumb: theme('colors.gray.200');
  --scrollbar-thumb-hover: theme('colors.gray.400');
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

::selection {
  background-color: theme('colors.purple.100');
  color: theme('colors.purple.900');
}
